In [1]:
#!uv add pandas pyarrow fastparquet sqlalchemy psycopg2-binary requests aiohttp

Resolved 121 packages in 1ms
Audited 14 packages in 0.85ms

In [29]:
import sys
import pandas as pd

ingest_year = 2025
ingest_month = 11

wget_tripdata = f'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_{ingest_year}-{ingest_month:02d}.parquet'

In [11]:
dtype = {
    "VendorID": "int64",
    "lpep_pickup_datetime": "datetime",
    "lpep_dropoff_datetime":"datetime",
    "store_and_fwd_flag": "str",
    "RatecodeID": "float64",
    "PULocationID":  "int64",
    "DOLocationID":  "int64",
    "passenger_count": "int64",
    "trip_distance": "float64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "ehail_fee": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "payment_type": "int64",
    "trip_type": "int64",
    "congestion_surcharge": "float64",
    "cbd_congestion_fee": "float64"
}

In [12]:
#df_trip_data = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')
#df_trip_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [13]:

#df_trip_data["passenger_count"] = df_trip_data["passenger_count"].astype('Int64')
#df_trip_data["payment_type"] = df_trip_data["payment_type"].astype('Int64')
#df_trip_data["trip_type"] = df_trip_data["trip_type"].astype('Int64')

#df_trip_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1,2.75,0.0

In [14]:
#df_trip_data.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                         Int64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [15]:
#from sqlalchemy import create_engine
#import sqlalchemy

#engine = create_engine('postgresql://admin:password@localhost:5432/taxi')

In [16]:
#print(pd.io.sql.get_schema(df_trip_data, name='ny_trip_data', con=engine))

CREATE TABLE ny_trip_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [17]:
#df_trip_data.head(0).to_sql(name='trip_data', con=engine, if_exists='replace')

0

In [47]:
from sqlalchemy import create_engine
import sqlalchemy
import pyarrow.parquet as pq
import fsspec

first = True

engine = create_engine('postgresql://admin:password@localhost:5432/taxi')

def ingest_to_postgres(df, f_first=False):
    table_name = f'trip_data_{ingest_year}_{ingest_month:02d}'

    if f_first:
        df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')
        print(f"{table_name} created")
    else:
        df.to_sql(name=table_name, con=engine, if_exists='append')

def read_parquet_chunks_from_uri(uri, chunk_size=10000):
    # fsspec handles opening the URI (http, s3, gs, etc.)
    with fsspec.open(uri, "rb") as f:
        # Create a ParquetFile object from the file-like object
        parquet_file = pq.ParquetFile(f)

        # Iterate over batches (RecordBatches)
        for batch in parquet_file.iter_batches(batch_size=chunk_size):
            # Process each batch (e.g., convert to pandas DataFrame)
            yield batch.to_pandas()
            
for i, chunk_df in enumerate(read_parquet_chunks_from_uri(wget_tripdata, chunk_size=50000)):
    if first:
        ingest_to_postgres(chunk_df, first)
        first = False
    
    print(f"Processing chunk {i}: shape {chunk_df.shape}")    
    ingest_to_postgres(chunk_df)
    # Perform your processing on the chunk_df here

trip_data_2025_11 created
Processing chunk 0: shape (46912, 21)

In [52]:
import sys
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
import pyarrow.parquet as pq
import fsspec

first = True
table_name = 'taxi_zone_lookup'

wget_zones = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

engine = create_engine('postgresql://admin:password@localhost:5432/taxi')

df = pd.read_csv(wget_zones)

df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')
print(f'{table_name} created.')

df.to_sql(name=table_name, con=engine, if_exists='append')
print(f"{table_name} appended with {len(df)} rows")

taxi_zone_lookup created.
taxi_zone_lookup appended with 265 rows

In [ ]:
from sqlalchemy import create_engine
import sqlalchemy
import pyarrow.parquet as pq
import fsspec

first = True

engine = create_engine('postgresql://admin:password@localhost:5432/taxi')

def ingest_to_postgres(df, f_first=False):
    table_name = f'trip_data_{ingest_year}_{ingest_month:02d}'

    if f_first:
        df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')
        print(f"{table_name} created")
    else:
        df.to_sql(name=table_name, con=engine, if_exists='append')

def read_parquet_chunks_from_uri(uri, chunk_size=10000):
    # fsspec handles opening the URI (http, s3, gs, etc.)
    with fsspec.open(uri, "rb") as f:
        # Create a ParquetFile object from the file-like object
        parquet_file = pq.ParquetFile(f)

        # Iterate over batches (RecordBatches)
        for batch in parquet_file.iter_batches(batch_size=chunk_size):
            # Process each batch (e.g., convert to pandas DataFrame)
            yield batch.to_pandas()
            
for i, chunk_df in enumerate(read_parquet_chunks_from_uri(wget_tripdata, chunk_size=50000)):
    if first:
        ingest_to_postgres(chunk_df, first)
        first = False
    
    print(f"Processing chunk {i}: shape {chunk_df.shape}")    
    ingest_to_postgres(chunk_df)
    # Perform your processing on the chunk_df here